@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Darker Grotesque', sans-serif;
  margin: 0;
  padding: 0;
}




/*  */
/* NAVIGATION */
/*  */

.circle-menu-item {
  width: 100px;
  font-size: large;
}

li,
.contact-button {
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;

}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.nav-links {
  margin-left: 80px;
}

.Main {
  padding: 30px 100px 0 100px;
}

.navbar {
  position: sticky;
  top: 0;
  
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: rgba(30, 32, 41, 0.2);
  box-shadow: 0 8px 32px 0 rgba(1, 1, 1, 0.37);
  
}

.no-class-name-for-testing-purposes-only{
  color: rgba(186, 186, 186, 0.574);
  color: #996aff36;
  color: #b1b1b1;
}

.container {
  float: left;
  
}