@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap");

/* Style the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Style the thumb (the part that you drag) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  behavior: smooth;
}

html,
body {
  font-family: "Darker Grotesque", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  color: rgba(53, 53, 53, 0.353);
}

/*  */
/* HERO */
/*  */

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-100%);
  transition: all 1s;
}
.animate {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 1s;
}

/* center container */
.hero-container {
  margin: 0 auto;
  min-height: 100vh;
  text-align: center;
  display: grid;
  place-items: center;
  place-content: center;
}

@media screen and (max-width: 768px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-direction: column;
  }
}

.typewriter {
  font-weight: 500;
  color: rgba(132, 132, 132, 0.483);
  text-align: center;
  margin-bottom: 1rem;
}

.nextpage-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.dash {
  width: 280px;
  height: 2.5px;
  margin-top: 6px;
  margin-left: 9px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.329);
}

@media screen and (max-width: 768px) {
  .dash {
    width: 150px;
  }
}

/*  */
/* NAVIGATION */
/*  */

/* » */

.stats {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.work-container {
  min-height: 100vh;
}
.project-image {
  box-shadow: 15px 15px 0px 0px rgba(255, 255, 255, 0.203);
}
.project-image:hover {
  box-shadow: none;
}

.project-icon {
  font-size: 20px;
}
.project-icon:hover {
  color: #ffe9;

  transition: all 0.4s ease-in-out;
}

ul.skills-list {
  list-style: none;
  columns: 2;
  padding: 10px 40px;
}

li::before {
  content: "»";
  margin-right: 10px;
  color: #ffed29;
  font-size: 24px;
}

li {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.703);
  font-weight: 500;
}

ul.responsibility-list {
  list-style: none;
  padding: 10px 40px;
}
